* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b, #111827);
  color: #fff;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(12px);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #60a5fa;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: #2563eb;
}

h1 {
    margin-top:10px;
    text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
}
#start , #stop{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 80px;
    font-size: 15px;
    border-radius: 8px;
}